{% extends 'base.html.twig' %}

{% block title %}Licencias{% endblock %}

{% block body %}
    <div class="container">
        <h1>Licencias de imágenes usadas en Planifica</h1>
        En la web de Planifica se utilizan una serie de imágenes que cuentan con licencias Creative Commons para su uso.
        Las imágenes pueden observarse en las tarjetas que se muestran en la página.


        <ul>
            <li>
                "Familia": <a href="https://commons.wikimedia.org/wiki/File:Family_Portrait.jpg">"Family
                    Portrait"</a>,
                por <a href="https://www.flickr.com/photos/a4gpa/">White Sands</a> bajo licencia <a
                    href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a> / Recoloreada del
                original.
            </li>
            <ul>
                <li>
                    "Orientación": <a href="https://www.flickr.com/photos/seattlecommunitytech/33117169184">"Teacher
                        Helping
                        Students
                        Working At Computers In Classroom"</a>, por <a
                        href="https://www.flickr.com/photos/seattlecommunitytech/">City of Seattle Community
                        Tech</a>
                    bajo
                    licencia <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a> / Recortada
                    y
                    recoloreada del original.
                </li>
                <li>
                    "Tutoría": <a
                        href="https://pixnio.com/es/gente/afroamericano-mujer-hablando-caucasico-macho-hembra#">"Hablando"</a>
                    bajo licencia <a href="https://creativecommons.org/licenses/publicdomain/">CC0</a> / Recoloreada
                    del
                    original.
                </li>
                <li>
                    "Secretaría": <a href="https://www.flickr.com/photos/austinevan/2296270551">"my classroom in
                        bonn"</a>,
                    por <a href="https://www.flickr.com/photos/austinevan/">Evan Bench</a> bajo licencia <a
                        href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> / Recoloreada del
                    original.
                </li>
            </ul>
        </ul>

        <ul>
            <li>
                "Trabajadores": <a
                    href="https://commons.wikimedia.org/wiki/File:Preparation_for_training_teachers_on_the_subject_of_Wikipedia_-_Center_for_Educational_Technology_%285%29.jpg">Preparation
                    for training teachers on the subject of Wikipedia - Center for Educational Technology</a>, por
                <a href="https://commons.wikimedia.org/wiki/User:Chenspec">Chenspec</a> bajo licencia <a
                    href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a> / Recoloreada del
                original.
            </li>
            <ul>
                <li>
                    "Próximas citas": <a href="https://www.flickr.com/photos/dejankrsmanovic/42417492845">"It is Twelve
                        O'Clock"</a>, por <a href="https://www.flickr.com/photos/dejankrsmanovic/">Dejan Krsmanovic</a>
                    bajo
                    licencia <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
                </li>
                <li>
                    "Nueva disponibilidad": <a href="https://www.flickr.com/photos/42931449@N07/6812481635">"Business
                        Calendar & Schedule"</a>, por
                    <a href="https://www.flickr.com/photos/42931449@N07/">photosteve101</a>, bajo licencia <a
                        href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> / Recortada y recoloreada del
                    original.
                </li>
                <li>
                    "Crear usuario Admin": <a href="https://commons.wikimedia.org/wiki/File:Programming_code.jpg">"HTML
                        and
                        Javascript code on
                        black background"</a>, por <a href="https://martinvorel.com/">Martin Vorel</a> bajo licencia <a
                        href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a> / Recortada y
                    recoloreada del original.
                </li>
            </ul>
        </ul>
    </div>


{% endblock %}