{% extends 'base.html.twig' %}
{% block body %}
	<div class="container" id="exito">
	Se ha anulado la reserva
	</div>
	<br>
    {# <a class="btn btn-primary" href="/familia/{{trabajador}}/{{servicio}}">Volver a {{servicio}}</a>  #}
{% endblock %}
